<table class="table">
    <tr>

        <th></th>
    </tr>

    <tr>
        <td>
            @Html.ActionLink("Регионы", "Index", "Region") |
            @Html.ActionLink("Профессии", "Index", "Profession") |
            @Html.ActionLink("Категории", "Index", "Category")
        </td>
    </tr>
</table>
